models/
pokemon/
pokemon_jpg/
result/
__pycache__/
dataset/
stanford_cars/


archive.zip
pokemon-generation-one.zip
diffusion_pokemon_test.out
diffusion_pokemon.out
error.err
test_error.err

*.out
*.err

moveimage.py