models/
pokemon/
pokemon_jpg/
result/
__pycache__/
dataset/
car/


archive.zip
pokemon-generation-one.zip
diffusion_pokemon_test.out
diffusion_pokemon.out
error.err
test_error.err

*.out
*.err
*.sh

moveimage.py
*.yml
*.zip